# Start with pure Chromium
BasedOnStyle: Chromium

# These are designed to keep as close as possible to our existing style
Standard: Cpp11
SortIncludes: false
IndentWidth: 4
UseTab: Never
ColumnLimit: 0
BreakBeforeBraces: Allman
SpacesInParentheses: false
SpaceBeforeParens: ControlStatements
AccessModifierOffset: -4
FixNamespaceComments: false
NamespaceIndentation: All
BreakConstructorInitializers : BeforeComma
SpaceAfterTemplateKeyword: true
IndentPPDirectives: AfterHash
# Only inline and empty functions can be on a single line
AllowShortFunctionsOnASingleLine : Inline
# Only short ifs with no else can be on one line
AllowShortIfStatementsOnASingleLine : true
AlignEscapedNewlines: DontAlign
AlignAfterOpenBracket : DontAlign
BinPackArguments: true # Function arguments are packed across multiple lines
BinPackParameters: true # Function params are packed across multiple lines
AllowAllParametersOfDeclarationOnNextLine: false # Start the params on the same line, then break
ConstructorInitializerAllOnOneLineOrOnePerLine: true # Initializers are different, all one one line or all split
BreakStringLiterals: false # Keep strings as they are written,even if they would make a line too long
