# EditorConfig : http://EditorConfig.org
# Install the EditorConfig extension

root = true

[*.{h,inl,cpp,idl,cs,ps1,bat}]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = crlf
